
body{
	display:flex;
	width:100%;
	align-items:center;
	justify-content:center;
	height:100vh;
	background:#F2F4F6;
	font-family: sans-serif;
  padding:20px;
}

article{
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;
}


.block{
	display:flex;
	align-items:center;
	justify-content:center;
	border-radius: 25pc;
	padding:20px;
	background: white;
	color: white;


}
.block:first-child{ background:#0096c7;}
.block:nth-of-type(3){ background:#0077b6;}
.block:nth-of-type(5){ background:#023e8a;}
.line{
	display:flex;
	align-items:center;
	justify-content:center;
}

.line	svg{
		width:100%;
		margin-top:10%;
	}


.dashed{
  stroke-dasharray: 1, 10;
}
